@import "../variables";

.keys-wrapper {
  background: $emerald;
}

.key {
  margin: 2rem 0;
  padding: 1.25rem 1.5rem;
  transition: 0.5s all ease;
  border: 2px solid $black;
}

.playing {
  transform: translateX(-10px) scale(1.25);
  background-color: $belize;
}
